body {
  font-size: 1.4rem;
  font-family: Roboto, sans-serif;
  line-height: 1.2;
  width: 100%; }
  @media screen and (min-width: 992px) {
    body {
      font-size: 1.6rem; } }

.header {
  background: #000;
  height: 74px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  width: 100%; }
  .header .navbar {
    background: #000; }
  .header .navbar-brand {
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    max-width: 150px; }
    .header .navbar-brand img {
      max-width: 100%; }
    @media screen and (min-width: 768px) {
      .header .navbar-brand {
        padding-left: 0;
        margin-left: 0 !important; } }
    @media screen and (min-width: 992px) {
      .header .navbar-brand {
        max-width: 200px;
        margin-top: 5px; } }
  .header .navbar-toggle {
    border-color: #ddd;
    margin-top: 20px; }
    .header .navbar-toggle .icon-bar {
      background-color: #888; }
  .header .navbar-collapse {
    margin-top: 20px;
    max-height: none;
    padding-bottom: 30px;
    height: calc(100vh - 80px); }
    .header .navbar-collapse li {
      display: block;
      list-style: none;
      margin: 8px 0 0 10px;
      padding: 5px 0; }
      .header .navbar-collapse li a {
        color: #fff;
        font-size: 1.4rem;
        font-weight: 300;
        display: block;
        padding: 0 6px;
        text-transform: uppercase;
        text-decoration: none; }
        @media screen and (min-width: 768px) {
          .header .navbar-collapse li a {
            font-size: 1.6rem; } }
        @media screen and (min-width: 992px) {
          .header .navbar-collapse li a {
            font-size: 1.8rem; } }
      .header .navbar-collapse li:hover > a {
        background: none;
        color: #ff9933;
        -webkit-transition: color 150ms ease-out;
        transition: color 150ms ease-out; }
      .header .navbar-collapse li.parent {
        position: relative; }
        .header .navbar-collapse li.parent > a::after {
          content: '';
          background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2026%2026%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M7.85%2010l5.02%204.9%205.27-4.9c.65-.66%201.71-.66%202.36%200%20.65.67.65%201.74%200%202.4l-6.45%206.1c-.33.33-.76.5-1.18.5-.43%200-.86-.17-1.18-.5l-6.21-6.1c-.65-.66-.65-1.74%200-2.41.66-.65%201.72-.65%202.37.01z%22/%3E%3C/svg%3E") center center no-repeat;
          display: inline-block;
          width: 1em;
          height: 1.3em;
          vertical-align: top;
          -webkit-transition: background 150ms ease-out;
          transition: background 150ms ease-out; }
          @media screen and (min-width: 768px) {
            .header .navbar-collapse li.parent > a::after {
              height: 1em; } }
        @media screen and (min-width: 768px) {
          .header .navbar-collapse li.parent ul li:hover > a {
            color: #fff;
            background: #353535; } }
        .header .navbar-collapse li.parent > ul {
          padding: 0;
          margin: 0;
          position: static; }
          .header .navbar-collapse li.parent > ul li {
            margin: 0;
            padding-bottom: 0;
            white-space: nowrap; }
            .header .navbar-collapse li.parent > ul li a {
              cursor: pointer;
              padding: 10px 20px; }
            @media screen and (min-width: 768px) {
              .header .navbar-collapse li.parent > ul li {
                background: #262626;
                border-bottom: 1px solid #353535; }
                .header .navbar-collapse li.parent > ul li a {
                  padding: 20px 20px 19px; } }
          @media screen and (min-width: 768px) {
            .header .navbar-collapse li.parent > ul {
              display: none;
              border: 2px solid #262626;
              border-radius: 5px;
              position: absolute;
              top: 30px;
              right: 0; }
              .header .navbar-collapse li.parent > ul::after {
                content: '';
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                border: 10px solid #262626;
                border-color: transparent transparent #262626 transparent;
                top: -20px;
                right: 30px; } }
        .header .navbar-collapse li.parent .parent > ul {
          top: 50px; }
        .header .navbar-collapse li.parent .parent > a {
          position: relative; }
          .header .navbar-collapse li.parent .parent > a::after {
            position: absolute;
            right: 20px; }
        .header .navbar-collapse li.parent:hover a::after {
          background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2026%2026%22%3E%3Cpath%20fill%3D%22%23f93%22%20d%3D%22M7.85%2010l5.02%204.9%205.27-4.9c.65-.66%201.71-.66%202.36%200%20.65.67.65%201.74%200%202.4l-6.45%206.1c-.33.33-.76.5-1.18.5-.43%200-.86-.17-1.18-.5l-6.21-6.1c-.65-.66-.65-1.74%200-2.41.66-.65%201.72-.65%202.37.01z%22/%3E%3C/svg%3E"); }
        .header .navbar-collapse li.parent:hover > ul {
          display: block; }
      .header .navbar-collapse li.last {
        display: inline-block;
        margin-top: 10px;
        padding-bottom: 0; }
        .header .navbar-collapse li.last a {
          color: #ff9933 !important;
          padding: 6px 19px;
          border: 2px solid #ff9933;
          border-radius: 4px; }
          .header .navbar-collapse li.last a:hover {
            text-decoration: none;
            color: #e38527;
            border: 2px solid #e38527; }
        @media screen and (min-width: 768px) {
          .header .navbar-collapse li.last {
            margin-top: 0; } }
      @media screen and (min-width: 768px) {
        .header .navbar-collapse li {
          margin: 8px 0 0 10px;
          padding-top: 0;
          padding-bottom: 25px; } }
    @media screen and (min-width: 768px) {
      .header .navbar-collapse {
        float: right;
        padding-bottom: 0; } }

.content {
  clear: both;
  width: 100%;
  margin-top: 74px; }

.footer {
  background: #afafaf;
  color: 333px;
  padding: 20px;
  text-align: center; }
  .footer a {
    display: inline-block;
    color: #333;
    text-decoration: underline; }
  .footer .copyright {
    font-size: 12px;
    margin-top: 20px; }
    @media screen and (min-width: 992px) {
      .footer .copyright {
        font-size: 14px;
        margin-top: 30px; } }

.promo {
  background: url(../img/home-page_main-bg.jpg) left center no-repeat;
  background-size: cover;
  overflow: hidden; }
  .promo::after {
    content: '';
    display: block;
    height: 10px;
    background: #930609;
    background: -webkit-linear-gradient(left, #930609, #ffe500);
    background: linear-gradient(90deg, #930609, #ffe500); }
  .promo .container {
    position: relative; }
  .promo .t1 {
    color: #ff9933;
    display: block;
    font-size: 24px;
    font-weight: 300;
    margin: 1.2em 0 .8em; }
    @media screen and (min-width: 768px) {
      .promo .t1 {
        margin: 1.2em 0 1.8em; } }
    @media screen and (min-width: 992px) {
      .promo .t1 {
        font-size: 30px; } }
  .promo .t2 {
    font-size: 36px;
    font-weight: 300;
    color: #fff; }
    @media screen and (min-width: 640px) {
      .promo .t2 {
        font-size: 46px; } }
    @media screen and (min-width: 768px) {
      .promo .t2 {
        font-size: 55px; } }
    @media screen and (min-width: 992px) {
      .promo .t2 {
        font-size: 65px; } }
  .promo .t3 {
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: .3em;
    font-size: 30px;
    font-weight: 300; }
    @media screen and (min-width: 640px) {
      .promo .t3 {
        font-size: 42px; } }
    @media screen and (min-width: 768px) {
      .promo .t3 {
        font-size: 52px; } }
    @media screen and (min-width: 992px) {
      .promo .t3 {
        font-size: 62px; } }
  .promo .t4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: .7em;
    color: #fff; }
    @media screen and (min-width: 640px) {
      .promo .t4 {
        font-size: 30px;
        margin-top: .6em;
        margin-bottom: .5em; } }
    @media screen and (min-width: 768px) {
      .promo .t4 {
        font-size: 34px; } }
    @media screen and (min-width: 992px) {
      .promo .t4 {
        font-size: 38px; } }
  .promo .showvideo-mb {
    display: block;
    margin: 230px auto 40px;}
    @media screen and (min-width: 460px) {
      .promo .showvideo-mb {
        margin-top: 50px;
        display: inline-block; } }
    @media screen and (min-width: 640px) {
      .promo .showvideo-mb {
        margin: 30px 0 40px;
        display: inline-block;
        width: auto; } }
    @media screen and (min-width: 768px) {
      .promo .showvideo-mb {
        margin: 55px 0 80px;
        padding-left: 70px;
        padding-right: 70px; } }

.promo__image {
  position: absolute;
  top: 185px;
  right: -50px;
  width: 300px; }
  .promo__image img {
    max-width: 100%; }
  @media screen and (min-width: 460px) {
    .promo__image {
      left: 290px;
      top: 70px;
      width: 300px;
      right: auto; } }
  @media screen and (min-width: 640px) {
    .promo__image {
      left: 55%; } }
  @media screen and (min-width: 768px) {
    .promo__image {
      top: 30px;
      left: 60%;
      width: 500px; } }
  @media screen and (min-width: 992px) {
    .promo__image {
      left: 50%;
      width: auto;
      top: 70px; } }
  @media screen and (min-width: 1200px) {
    .promo__image {
      left: auto;
      right: 55px;
      top: 30px; } }

.features__lead {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.1;
  margin: 60px 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .features__lead {
      font-size: 42px; } }
  @media screen and (min-width: 992px) {
    .features__lead {
      font-size: 46px; } }

.features__action {
  margin: 0 0 70px;
  text-align: center; }

.feature {
  margin-bottom: 50px;
  padding: 0 10px;
  text-align: center; }

.feature__image {
  margin-bottom: 10px; }
  @media screen and (min-width: 768px) {
    .feature__image {
      margin-bottom: 30px; } }

.feature__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px; }
  @media screen and (min-width: 768px) {
    .feature__title {
      font-size: 32px;
      margin-bottom: 25px; } }
  @media screen and (min-width: 992px) {
    .feature__title {
      font-size: 38px; } }

.feature__text {
  font-size: 18px;
  font-weight: 300; }
  @media screen and (min-width: 768px) {
    .feature__text {
      font-size: 22px; } }
  @media screen and (min-width: 992px) {
    .feature__text {
      font-size: 26px; } }

.forwhat {
  background: url(../img/bg2.jpg) top center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 40px 0 10px;
  position: relative;
  text-align: center; }
  .forwhat__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: auto;
    padding: 0 20px 40px; }
    @media screen and (min-width: 768px) {
      .forwhat__column {
        margin: 0;
        max-width: 375px;
        padding: 0 40px 40px 0; }
        .forwhat__column + .forwhat__column {
          padding-right: 0;
          padding-left: 40px; } }
    @media screen and (min-width: 992px) {
      .forwhat__column {
        max-width: 485px; } }
    @media screen and (min-width: 1200px) {
      .forwhat__column {
        max-width: 615px; } }
  @media screen and (min-width: 768px) {
    .forwhat {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 50px 0 10px; }
      .forwhat::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        bottom: 0;
        width: 2px;
        background: #fff; } }

.forwhat__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px; }
  @media screen and (min-width: 768px) {
    .forwhat__title {
      font-size: 32px;
      margin-bottom: 25px; } }
  @media screen and (min-width: 992px) {
    .forwhat__title {
      font-size: 38px;
      margin-bottom: 30px; } }

.forwhat__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .forwhat__text {
      font-size: 18px;
      margin-bottom: 25px; } }
  @media screen and (min-width: 992px) {
    .forwhat__text {
      font-size: 20px;
      margin-bottom: 30px; } }

.forwhat__action {
  margin-top: auto; }
  @media screen and (min-width: 768px) {
    .forwhat__action a {
      font-size: 26px; } }

.reviews {
  background: url(../img/home-page__reviews.jpg) center center no-repeat;
  background-size: cover;
  padding: 40px 0; }
  @media screen and (min-width: 768px) {
    .reviews {
      padding: 80px 0; } }

.reviews__title {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: .75em; }
  @media screen and (min-width: 768px) {
    .reviews__title {
      font-size: 42px; } }
  @media screen and (min-width: 992px) {
    .reviews__title {
      font-size: 48px; } }

.reviews__text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1.75em; }
  @media screen and (min-width: 768px) {
    .reviews__text {
      font-size: 20px; } }
  @media screen and (min-width: 992px) {
    .reviews__text {
      font-size: 24px; } }

.reviews__action .btn {
  white-space: normal; }

.testimonials-block {
  background: #f4f4f4;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 0 10px; }
  .testimonials-block--top {
    background: #333;
    margin-bottom: 0; }

.testimonials {
  background: #f4f4f4;
  padding: 3rem 0 0; }
  @media screen and (min-width: 768px) {
    .testimonials {
      padding: 5rem 0 0; } }

.testimonials__title {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 1.5em;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (min-width: 480px) {
    .testimonials__title {
      text-align: left; } }
  @media screen and (min-width: 768px) {
    .testimonials__title {
      font-size: 4.6rem; } }

.testimonials__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .testimonials__grid .testimonial {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    margin: 0 0 20px; }
    @media screen and (min-width: 480px) {
      .testimonials__grid .testimonial {
        margin: 0 30px 20px 0; } }
  @media screen and (min-width: 480px) {
    .testimonials__grid {
      margin-right: -30px; } }

.testimonial {
  background: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 2rem 1.5rem;
  margin: 0 auto;
  text-align: center;
  position: relative; }

.testimonial:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); }

.testimonial:hover, .testimonial:visited, .testimonial:active, .testimonial:focus {
  color: #000;
  text-decoration: none; }

.testimonial__avatar {
  border-radius: 50%;
  height: 18.5rem;
  margin: 0 auto 3rem;
  width: 18.5rem;
  overflow: hidden;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1); }

.testimonial__avatar img {
  max-width: 100%; }

.testimonial__name {
  font-size: 1.8rem;
  margin-bottom: 1em; }
  @media screen and (min-width: 768px) {
    .testimonial__name {
      font-size: 2.4rem; } }

.testimonial__company {
  color: #6c6c6c;
  font-size: 1.4rem;
  margin-bottom: 1em; }
  @media screen and (min-width: 768px) {
    .testimonial__company {
      font-size: 1.8rem; } }

.testimonial__link {
  color: #ff9933;
  font-size: 1.4rem;
  margin-bottom: 3rem;
  word-wrap: break-word; }
  @media screen and (min-width: 768px) {
    .testimonial__link {
      font-size: 1.8rem; } }

.testimonial__content {
  border-top: 1px solid #f4f4f4;
  font-size: 2rem;
  margin: 1rem 0;
  padding-top: 1em;
  word-wrap: break-word; }
  @media screen and (min-width: 768px) {
    .testimonial__content {
      font-size: 2.6rem; } }

.testimonial--top {
  background: #333;
  color: #fff;
  display: block;
  padding: 2rem;
  margin: 0 0 3rem;
  min-height: 22rem;
  text-align: left; }
  .testimonial--top:last-child {
    margin-bottom: 3rem; }
  .testimonial--top .testimonial__avatar {
    height: 16rem;
    width: 16rem;
    margin: 20px auto; }
    @media screen and (min-width: 768px) {
      .testimonial--top .testimonial__avatar {
        float: left;
        margin-left: -20rem; } }
  .testimonial--top .testimonial__company {
    color: #aaa; }
  .testimonial--top .testimonial__content {
    border-top-color: #ccc;
    color: #fff; }
  @media screen and (min-width: 768px) {
    .testimonial--top {
      padding-left: 22rem; } }

.story .testimonial {
  background: #f4f4f4;
  padding-top: 55px;
  padding-bottom: 35px; }
  @media screen and (min-width: 768px) {
    .story .testimonial {
      padding-top: 75px;
      padding-bottom: 55px; } }

.story__title {
  font-size: 3rem;
  font-weight: 300;
  margin: 1.5em 0;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (min-width: 480px) {
    .story__title {
      text-align: left; } }
  @media screen and (min-width: 768px) {
    .story__title {
      font-size: 4.6rem; } }

.story__header {
  font-size: 32px;
  margin: 1.5em 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .story__header {
      font-size: 40px; } }
  @media screen and (min-width: 992px) {
    .story__header {
      font-size: 48px; } }

.story__text {
  font-size: 16px; }
  .story__text p {
    margin-bottom: 1em; }
  @media screen and (min-width: 768px) {
    .story__text {
      font-size: 20px; } }
  @media screen and (min-width: 992px) {
    .story__text {
      font-size: 24px; } }

.story__actions {
  background: #f4f4f4;
  padding: 40px 0;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .story__actions {
      padding: 80px 0; } }

.story__actions-or {
  color: #6e6e6e;
  display: block;
  font-size: 18px;
  margin: 1em auto;
  text-align: center; }
  @media screen and (min-width: 640px) {
    .story__actions-or {
      display: inline-block;
      margin: 0 1em;
      vertical-align: middle; } }
  @media screen and (min-width: 768px) {
    .story__actions-or {
      font-size: 22px; } }
  @media screen and (min-width: 992px) {
    .story__actions-or {
      font-size: 28px; } }

.story__link {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle; }
  @media screen and (min-width: 768px) {
    .story__link {
      font-size: 22px; } }
  @media screen and (min-width: 992px) {
    .story__link {
      font-size: 28px; } }

.technology {
  padding: 40px 0;
  font-size: 16px; }
  .technology p {
    margin-bottom: 1em; }
    .technology p a {
      color: #ff9933;
      font-size: 28px; }
  @media screen and (min-width: 768px) {
    .technology {
      font-size: 18px;
      padding: 60px 0; }
      .technology a {
        font-size: 32px; } }
  @media screen and (min-width: 992px) {
    .technology {
      font-size: 22px;
      padding: 80px 0; }
      .technology a {
        font-size: 36px; } }

.company-address {
  margin: 4.5em 0 1.5em; }

.adapters {
  padding-bottom: 0; }

.technology__title {
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 1em; }
  @media screen and (min-width: 768px) {
    .technology__title {
      font-size: 44px; } }

.technology__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: -15px; }
  @media screen and (min-width: 768px) {
    .technology__features {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.technology__feature {
  background: #ff9933;
  color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  font-size: 16px;
  margin-bottom: 1em;
  margin-right: 15px;
  padding: 30px; }
  .technology__feature h4 {
    color: #333;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: .75em; }
    @media screen and (min-width: 768px) {
      .technology__feature h4 {
        font-size: 34px; } }
  @media screen and (min-width: 768px) {
    .technology__feature {
      font-size: 20px;
      padding: 40px; } }

.technology-section-title {
  font-size: 32px;
  margin-top: 2em;
  margin-bottom: 1em;
  text-transform: uppercase; }
  @media screen and (min-width: 768px) {
    .technology-section-title {
      font-size: 40px; } }

.technology-section__subtitle {
  color: #ff9933;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: .5em; }
  @media screen and (min-width: 768px) {
    .technology-section__subtitle {
      font-size: 35px; } }

.adapter {
  margin-bottom: 60px; }
  @media screen and (min-width: 768px) {
    .adapter {
      margin-bottom: 80px; } }

@media screen and (min-width: 768px) {
  .col-xs-12:first-child .adapter {
    padding-right: 20px; } }

@media screen and (min-width: 992px) {
  .col-xs-12:first-child .adapter {
    padding-right: 40px; } }

@media screen and (min-width: 768px) {
  .col-xs-12:last-child .adapter {
    padding-left: 20px; } }

@media screen and (min-width: 992px) {
  .col-xs-12:last-child .adapter {
    padding-left: 40px; } }

.adapter__name {
  font-size: 24px;
  margin-bottom: 1em;
  text-align: center; }
  @media screen and (min-width: 768px) {
    .adapter__name {
      font-size: 28px; } }
  @media screen and (min-width: 992px) {
    .adapter__name {
      font-size: 32px; } }

.adapter__description {
  font-size: 14px; }
  .adapter__description i {
    font-weight: 500; }
  @media screen and (min-width: 768px) {
    .adapter__description {
      font-size: 16px; } }
  @media screen and (min-width: 992px) {
    .adapter__description {
      font-size: 18px; } }

.adapter__image {
  margin-bottom: 20px;
  padding: 20px 40px;
  text-align: center; }
  .adapter__image img {
    height: auto;
    max-width: 100%; }
  @media screen and (min-width: 768px) {
    .adapter__image {
      padding: 20px 30px; } }

.service {
  padding: 40px 0;
  font-size: 16px; }
  .service p {
    margin-bottom: 1em;
    line-height: 1.4; }
  @media screen and (min-width: 768px) {
    .service {
      font-size: 18px;
      padding: 60px 0; } }
  @media screen and (min-width: 992px) {
    .service {
      font-size: 22px;
      padding: 80px 0; } }

.service__title {
  font-weight: 300;
  font-size: 28px;
  margin-bottom: 1em; }
  @media screen and (min-width: 768px) {
    .service__title {
      font-size: 36px; } }
  @media screen and (min-width: 992px) {
    .service__title {
      font-size: 44px; } }

.service-section table {
  box-sizing: content-box;
  font-size: 18px;
  margin-bottom: 1.5em;
  width: 100%; }
  .service-section table .green-text {
    color: #00b300; }
  .service-section table .red-text {
    color: #e80000; }
  @media screen and (min-width: 768px) {
    .service-section table {
      font-size: 22px; } }
  @media screen and (min-width: 992px) {
    .service-section table {
      font-size: 24px; } }

.service-section tfoot {
  font-weight: 500; }

.service-section th,
.service-section td {
  padding: 15px; }
  @media screen and (min-width: 768px) {
    .service-section th,
    .service-section td {
      padding: .7em 35px; } }

.service-section th {
  font-weight: 500; }

.service-section td {
  background: #f5f5f5;
  border: 1px solid #fff;
  border-width: 1px 0 0 1px; }

.service-section .btn {
  display: inline-block;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto; }

.service-section .blue-bg {
  background: #ecf4fa;
  margin-bottom: .5em;
  padding: 20px 15px 10px; }
  @media screen and (min-width: 768px) {
    .service-section .blue-bg {
      padding: 40px 35px 20px; } }

.service-section__title {
  background: #ff9933;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin: 1.5em -15px 1em;
  padding: .5em 15px;
  text-transform: uppercase; }
  @media screen and (min-width: 768px) {
    .service-section__title {
      font-size: 32px; } }
  @media screen and (min-width: 992px) {
    .service-section__title {
      font-size: 40px; } }

.service-section__highlight {
  font-size: 22px; }
  .service-section__highlight span {
    color: #ff9933; }
  @media screen and (min-width: 768px) {
    .service-section__highlight {
      font-size: 24px; } }
  @media screen and (min-width: 992px) {
    .service-section__highlight {
      font-size: 28px; } }

.media__caption {
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: .5em; }
  @media screen and (min-width: 768px) {
    .media__caption {
      font-size: 18px; } }
  @media screen and (min-width: 992px) {
    .media__caption {
      font-size: 22px; } }

.list-starred {
  list-style: none;
  margin-bottom: 2em;
  padding-left: 3em; }
  .list-starred li {
    margin-bottom: 1em; }
    .list-starred li b {
      font-weight: 500; }
    .list-starred li::before {
      content: '';
      background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23F93%22%20d%3D%22M8%200l2.5%205%205.5.8-4%203.9.9%205.5L8%2012.6l-4.9%202.6.9-5.5-4-3.9L5.5%205%22%2F%3E%3C%2Fsvg%3E") center center no-repeat;
      display: inline-block;
      width: .7275em;
      height: .7275em;
      margin-right: .5em;
      margin-left: -1.2275em; }

.contacts {
  background: #3f3f3f url(../img/home-page__about-bg.jpg) center bottom no-repeat;
  padding: 40px 0 15px;
  position: relative; }
  .contacts::before {
    content: '';
    display: block;
    height: 10px;
    background: #930609;
    background: -webkit-linear-gradient(left, #930609, #ffe500);
    background: linear-gradient(90deg, #930609, #ffe500);
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  @media screen and (min-width: 768px) {
    .contacts {
      padding: 70px 0 30px; } }

.about {
  margin-bottom: 50px; }
  .about .show_more {
    margin-top: 20px; }
  .about ul {
    margin-bottom: 20px; }
  .about ul li {
    margin-bottom: 15px; }
  @media screen and (min-width: 768px) {
    .about {
      padding-right: 25px; } }

.about__title {
  color: #fff;
  font-weight: 300;
  font-size: 36px;
  margin-bottom: .8em;
  text-transform: uppercase; }
  @media screen and (min-width: 768px) {
    .about__title {
      font-size: 46px; } }

.about__image {
  margin-bottom: 20px;
  width: 100%; }
  .about__image img {
    max-width: 100%; }
  @media screen and (min-width: 480px) {
    .about__image {
      float: left;
      margin-right: 20px;
      max-width: 45%; } }
  @media screen and (min-width: 768px) {
    .about__image {
      margin-right: 30px;
      margin-bottom: 30px; } }
  @media screen and (min-width: 992px) {
    .about__image {
      margin-right: 40px; } }

.about__text {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .about__text {
      font-size: 20px; } }

.contact-us {
  color: #fff;
  font-size: 18px;
  margin-bottom: 50px;
  position: relative; }
  .contact-us .contact-us__input {
    font-size: 18px;
    height: 60px;
    margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .contact-us {
      padding-left: 25px; } }

.contact-us__title {
  color: #fff;
  font-weight: 300;
  font-size: 36px;
  margin-bottom: .8em;
  text-transform: uppercase; }
  @media screen and (min-width: 768px) {
    .contact-us__title {
      font-size: 46px; } }

.contact-us__msg {
  font-size: 18px;
  min-height: 244px;
  margin-bottom: 48px;
  resize: vertical; }

.contact-us__submit {
  display: block;
  margin: auto; }
  @media screen and (min-width: 768px) {
    .contact-us__submit {
      float: right; } }

.contact-us__success {
  display: none;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 25px;
  right: 0;
  background: #333;
  padding: 50px;
  text-align: center; }

.prefooter {
  background: #ccc;
  padding: 35px 0 30px;
  position: relative; }
  .prefooter::before {
    content: '';
    display: block;
    height: 5px;
    background: #930609;
    background: -webkit-linear-gradient(left, #930609, #ffe500);
    background: linear-gradient(90deg, #930609, #ffe500);
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  @media screen and (min-width: 768px) {
    .prefooter {
      padding: 55px 0 60px; } }

.prefooter__logo {
  margin-top: -15px;
  margin-bottom: 30px; }
  .prefooter__logo img, .prefooter__logo svg {
    max-width: 100%; }

.prefooter__address {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 1em; }

.prefooter__title {
  color: #666;
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: uppercase; }

.prefooter__social {
  text-align: center; }
  .prefooter__social .prefooter__title {
    margin-bottom: 20px; }
  @media screen and (min-width: 768px) {
    .prefooter__social {
      text-align: left; } }

.footer-links {
  color: #666;
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin: 0 0 30px; }
  .footer-links li {
    padding: 5px 0; }
    .footer-links li a {
      font-size: 18px;
      color: #666; }
      .footer-links li a:hover {
        color: #333; }

.social-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.social-links__icon {
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative; }
  .social-links__icon:hover::after {
    content: '';
    cursor: pointer;
    background: #000;
    border-radius: 50%;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .3;
    position: absolute;
    z-index: 2; }
  .social-links__icon svg {
    display: block;
    width: 100%;
    max-width: 62px; }

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden; }

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%; }
  @media screen and (min-width: 480px) {
    .slider__item {
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }
      .slider__item + .slider__item {
        padding-left: 15px; } }
  @media screen and (min-width: 992px) {
    .slider__item {
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%; } }

.slider__paginator {
  margin: 2rem 0;
  text-align: center; }
  .slider__paginator ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .slider__paginator li {
    display: inline-block;
    margin: 0 5px; }
    .slider__paginator li a {
      background: #fff;
      cursor: pointer;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      -webkit-transition: background-color 150ms ease-out;
      transition: background-color 150ms ease-out; }
      .slider__paginator li a:hover {
        background: #eee; }
      .slider__paginator li a.active {
        background: #ddd; }

.link {
  color: #ff9933;
  text-decoration: underline; }
  .link:hover {
    color: #e67300;
    text-decoration: none; }

.audio-inline audio {
  vertical-align: middle; }

.btn {
  font-size: 14px;
  border-radius: .3334em;
  padding: 0.2em .8em;
  min-width: 200px;
  white-space: normal; }

.btn-lg {
  font-size: 18px; }

.btn-xlg {
  font-size: 24px; }

.btn .raquo {
  display: none; }
  @media screen and (min-width: 768px) {
    .btn .raquo {
      display: inline; } }

@media screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
    padding: 0.2667em 1.3333em; }
  .btn-lg {
    font-size: 24px; }
  .btn-xlg {
    font-size: 30px; } }

.btn-primary {
  text-transform: uppercase; }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }

.btn-primary, .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
  background: #ff9933;
  border-color: #ff9933;
  -webkit-transition: background 100ms ease-out;
  transition: background 100ms ease-out; }
  .btn-primary:hover, .btn-primary.active:hover, .btn-primary.focus:hover, .btn-primary:active:hover, .btn-primary:focus:hover, .btn-primary:hover:hover, .open > .dropdown-toggle.btn-primary:hover {
    background: #e67300;
    border-color: #e67300; }

.btn-red, .btn-red.active, .btn-red.focus, .btn-red:active, .btn-red:focus, .btn-red:hover, .open > .dropdown-toggle.btn-red {
  background: #ff6600;
  border-color: #ff6600;
  color: #fff;
  -webkit-transition: background 100ms ease-out;
  transition: background 100ms ease-out; }
  .btn-red:hover, .btn-red.active:hover, .btn-red.focus:hover, .btn-red:active:hover, .btn-red:focus:hover, .btn-red:hover:hover, .open > .dropdown-toggle.btn-red:hover {
    background: #b34700;
    border-color: #b34700; }

.btn-secondary {
  background: none;
  border: 2px solid #ff9933;
  border-radius: 10px;
  color: #ff9933;
  text-decoration: none;
  -webkit-transition: border-color 100ms ease-out;
  transition: border-color 100ms ease-out; }
  .btn-secondary:hover {
    border-color: #e67300;
    color: #e67300; }

.btn-secondary--white {
  border-color: #fff;
  color: #fff; }
  .btn-secondary--white:focus {
    color: #fff; }
  .btn-secondary--white:hover {
    border-color: #fff;
    color: #fff;
    opacity: .8; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden; }
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.collapsible {
  border-bottom: 2px solid #f0f0f0;
  background: #fafafa;
  margin: 0 -15px 3em;
  padding: 0 15px; }

.collapsible__label {
  background: #f0f0f0;
  box-sizing: content-box;
  color: #787878;
  cursor: pointer;
  display: block;
  font-size: 23px;
  font-weight: 300;
  margin: 0 -15px;
  padding: 15px;
  margin-bottom: 0;
  width: 100%; }
  .collapsible__label::before {
    border: 1px solid #ccc;
    border-radius: 3px;
    content: '+';
    color: #787878;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1;
    display: inline-block;
    text-align: center;
    width: 1em;
    height: 1em;
    margin-right: .5em;
    vertical-align: bottom; }

.collapsible__trigger {
  display: none; }

.collapsible__content {
  color: #7b7b7b;
  display: none;
  padding: 20px 10px 10px; }
  .collapsible__content h4 {
    font-size: 24px;
    margin-bottom: .5em; }
    @media screen and (min-width: 768px) {
      .collapsible__content h4 {
        font-size: 28px; } }
  @media screen and (min-width: 768px) {
    .collapsible__content {
      padding: 40px 20px 20px; } }
  .collapsible__content p + h4 {
    margin-top: 50px; }
    @media screen and (min-width: 768px) {
      .collapsible__content p + h4 {
        margin-top: 70px; } }
  .collapsible__content img {
    max-width: 100%;
    margin-bottom: 1em; }

.collapsible__trigger:checked + .collapsible__label::before {
  content: '-'; }

.collapsible__trigger:checked + .collapsible__label + .collapsible__content {
  display: block; }

.pc-choise {
  position: absolute;
    right: 10px;
    bottom: 120px;
    z-index: 2;
}
.pc-choise img {
  width: 120px;
}
@media screen and (min-width: 460px) {
  .pc-choise {
    bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .pc-choise {
    bottom: 140px;
    right: -40px;
  }
  .pc-choise img {
    width: 150px;
  }
}
@media screen and (min-width: 992px) {
  .pc-choise {
    right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .pc-choise {
    bottom: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .pc-choise {
    right: 70px;
  }
}
