.container{
	max-width:1100px;}

@media (max-width: 992px){
	#f_four .title,
	#f_vim .title,
	#sc .title,
	#contact .title,
	#contact .right_soc .tit{
		font: 300 30px roboto;}
	#space p,
	#f_vim p,
	#sc p{
		font:300 16px roboto;}
	#f_four .text{
		font: 300 15px roboto;}
	#f_vim p a,
	#space p a,
	#sc p a{
		font: 300 16px roboto;}
	#contact .right_soc .soc{
		width:100%;
		text-align:center;
		float:left;}
	#checkout_buttons .button_{
		margin:0;
		font-size: 18px;}
	
}
@media (max-width: 768px){
	.header{
		height:auto;
		padding-bottom:20px;}
	.navbar-nav> li {
		float: left;
		width:100%;
		margin:0 0 20px 10px  !important;}
	.header .primary{
		float:left;
		margin:0;}
	.navbar-brand{
		margin-left:10px !important;}
	#buy .block input{
		float:left;}
	#buy .r{
		text-align:left;}
	#buy .block span{
		margin-bottom:5px;}
	.footer a,
	.footer .text{
		font:300 12px roboto;}
	/*front*/
	#f_top .t2{
		font:300 34px roboto;}
	#f_four .title,
	#f_vim .title,
	#space .title,
	#sc .title,
	#contact .title{
		font: 300 22px roboto;
		width:96%;
		margin-left:2% !important;
		margin-right:2% !important;}
	#space .title{
		margin:20px 0 10px;}
	#f_vim p,
	#sc p{
		font:300 15px roboto;}
	#space p{
		font:300 12px roboto;
		margin:15px 0 0 0;}
	#f_vim p a,
	#sc p a{
		font: 300 15px roboto;}
	#space p a{
		font: 300 13px roboto;}
	#f_vim .vid .text,
	#space .l_video .text{
		font: 300 11px roboto;}
	#f_four .rows > div{
		margin-bottom:20px;
		text-align:center;}
	#f_four .rows > div .im{
		margin-bottom:20px;
		width:100%;}
	#contact .left_form form{
		margin:0 5%;}
	#contact .left_form .submit{
		text-align:center}
	#contact .left_form .submit input{
		float:none;
		display:inline-block;}
	#contact{
		height:auto;
		background:url(img/contacts.jpg) no-repeat center bottom #3f3f3f;}
	#contact .right_soc .tit{
		font: 300 32px roboto;
		margin:10px 0 20px;
		text-align:center;}
	#contact .right_soc .soc{	
		text-align:center;
		margin-bottom:20px;}
	#contact .des,
	#contact .title{
		text-align:center;}
	/*forensics*/
	#forensics p{
		width:96%;
		margin-left:2% !important;
		margin-right:2% !important;
		font:300 16px roboto;}
	#forensics .list span{
		font:300 16px roboto;}
	#forensics .title{
		font: 300 22px roboto;
		width:96%;
		margin-left:2% !important;
		margin-right:2% !important;}
	/*how*/
	.cops{
		text-align:center;}
	.cops .title,
	.cops .tit,
	#space2 .title,
	#buy .title{
		font:300 22px roboto;
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;}
	.cops .tit{
		margin-top:20px;
		margin-bottom:10px;}
	.cops p{
		font:300 12px roboto;}
	#how2,
	#how3,
	#space2{
		padding:25px 0;}
	#space2 .title{
		text-align:center;
		float:left;}
	#checkout_buttons .row.buttons > div{
		margin-bottom:20px;
		text-align:center;}
	#checkout_buttons .button_{
		font-size: 15px;}
	#checkout_buttons .col-md-4{
		text-align:center;}
	#checkout_buttons .col-md-4 > div div{
		display:inline-block;}
	#f_top .t1 br{
		display:none;}
	#f_top .row > *{
		width:96%;
		margin-left:2%;
		margin-right:2%;}
	.navbar{
		background:#000 !important;}
	#navbar{
		float: left;
		margin: 0;
		border:none;
		box-shadow:none;
		overflow-x: hidden;}
}
@media (max-width: 320px){
	.log img{
		width:100%;}
	#buy_form .form-group{
		margin-left:0;}
}